.colorPicker,
.textColorPicker {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid var(--border-color);
}

.colorPicker {
  position: absolute;
  bottom: 50px;
  right: -1px;
}

.textColorPicker {
  position: absolute;
  bottom: 100px;
  right: -10px;
}
